//-------------------------
//-------------------HEADER
//-------------------------
.navigation{
  width: 20%;
  display: inline-block;
  background-color: $colorBlack;
  height: 100vh;
  color: $colorWhite;
  h1{
    text-transform: uppercase;
    background-color: $colorBlackDarker;
    font-size: 2rem;
    padding: 1rem;
    text-align: left;
  }
  li{
    padding: 1rem;
  }
  a{
    color: $colorWhite;
    font-size: 1.5rem;
  }
}
